* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    padding: 5px;
}

header {
    position: relative;
    width: 100%;
}

hr {
    height: 4px;
}

img {
    margin: 0;
    padding: 0;
}

span {
    display: flex;
    flex-direction: row;
    flex-basis: 5px;
    vertical-align: middle;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    margin-top: 2rem;
    padding: 2rem 0;
}

.text-bold {
    font-weight: bold;
}

.text-content {
    font-size: 12px;
    color: #72767a;
    padding-bottom: 0.5rem;
    font-family: 'Oswald', serif;
}

.footer-title {
    font-family: 'Oswald', serif;
    color: #9b9ba3;
    margin-bottom: 0.5rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.underline {
    text-decoration: underline;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

.nav-item {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.uppercase {
    text-transform: uppercase;
}

.nav-link {
    font-family: 'Oswald', serif;
    font-size: 12px;
    display: block;
    text-decoration: none;
    color: slategrey;
    padding-top: 0.2rem;
}

.text-title-link {
    color: slategrey;
    font-size: 12px;
    font-family: 'Oswald', serif;
    padding-bottom: 5px;
}

.grille {
    position: relative;
    background: url("../assets/misc/grille.png");
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-italic {
    font-family: 'Droid Sans', sans-serif;
    font-style: italic;
}

.separator {
    padding-top: 1rem;
    padding-left: 1rem;
    border: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
}

.mt-1 {
    margin-top: 1rem;
}

.content-title {
    font-family: 'Oswald', serif;
    color: #e38417;
    font-weight: 400;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.img-bg {
    padding: 5px;
    border: 1px solid #e6e6e7;
    box-shadow: 1px 1px #e6e6e7;
}

.text-grey {
    color: grey;
}

.subtitle {
    padding-bottom: 50px;
}

.mt-3 {
    margin-top: 3rem;
}

.mx-3 {
    margin: 0 3rem;
}

.remove-style {
    text-decoration: none;
    color: #918f8f;
}

.d-inline {
    display: inline;
}

.acceuil-icon {
    background-image: url('../assets/misc/accueil_icone.png');
}

#middle-text {
    font-size: 16px;
}

#footer-extend {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#column-1 {
    border: 1px solid #c4c5c5;
    padding: 5px 15px 30px;
    height: 100%;
}

#column-2 {
    padding: 15px;
    width: 100%;
    margin: 10px;
}

#column-3 {
    padding: 15px;
    margin: 10px;
}

#feed {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 14px;
    margin-bottom: 2rem;
}

.orange-underline {
    background-color: #ee6600;
    border: none;
}

.blue-underline {
    background-color: #378cbd;
    border: none;
}

.yellow-underline {
    background-color: #f2c93a;
    border: none;
}

.green-underline {
    background-color: #b1cd7a;
    border: none;
}

.purple-underline {
    background-color: #b971ca;
    border: none;
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

#video {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#checkbox_toggle {
    display: none;
}

/*AFFICHAGE PC*/
@media screen and (max-width: 1500px) {
    html {
        max-width: 1440px;
    }

    #logo {
        width: 150px;
    }

    #checkbox_toggle:checked + .hamburger + .nav-menu {
        display: none;
    }

    .responsive-menu .nav-menu {
        display: none;
    }

    .hamburger {
        display: none;
    }
}

/*AFFICHAGE TABLETTE*/
@media screen and (max-width: 800px) {
    html {
        width: 768px;
    }

    .grid {
        display: block;
    }

    .r-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5px;
    }

    .footer-link {
        font-size: 14px;
    }

    .mx-3 {
        margin: 20px 0;
    }

    #column-1 {
        border: 1px solid #c4c5c5;
        height: 100%;
        width: 100%;
    }

    #column-2 {
        padding: 15px;
        width: 100%;
        margin: 10px;
    }

    #column-3 {
        padding: 15px;
        margin: 10px;
    }

    #logo {
        width: 130px;
    }

    #checkbox_toggle:checked + .hamburger + .nav-menu {
        display: none;
    }

    .responsive-menu .nav-menu {
        display: none;
    }

    .hamburger {
        display: none;
    }
}

/*AFFICHAGE MOBILE*/
@media screen and (max-width: 400px) {
    html {
        width: 390px;
    }

    .my-container {
        width: 390px;
    }

    body {
        width: 390px;
    }

    .nav-item {
        display: none;
    }

    .r-grid {
        display: grid;
        position: relative;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5px;
        padding: 0;
        margin: 0 auto;
        left: -3%;
    }

    #video {
        margin: 5px;
        padding: 5px;
    }

    .container {
        margin: 5px;
        padding: 5px;
    }

    #logo {
        width: 100px;
    }

    footer {
        max-width: 390px;
        display: block;
        position: relative;
    }

    h4.uppercase {
        margin-top: 10px;
    }

    .hamburger {
        position: relative;
        top: 30%;
        left: 1600%;
    }

    .nav-item-flex {
        position: absolute;
        display: flex;
        justify-items: center;
        justify-content: space-around;
    }

    .responsive-menu .nav-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 200%;
        width: 100%;
        background-color: #fff; /* Couleur de fond du menu, ajustez selon vos besoins */
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour le menu, ajustez selon vos besoins */
        z-index: 999;
    }

    #checkbox_toggle:checked + .hamburger + .nav-menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}